<div class="dashboard-container">
  <div class="top-bar">
    <h2>Dashboard</h2>
    <div class="actions">
      <input
  type="text"
  placeholder="Quick search"
/>

      <button class="status">Status</button>
    </div>
  </div>
  <div class="main-content">
    <div class="dashboard-cards">
      <a href="/employee" target="demo" active><button>Employees</button></a>
      <a href="/instack" target="demo"><button>In Stock</button></a>
      <a href="/outsatck" target="demo"><button>Sales</button></a>
      <a href="/addproduct" target="demo"><button>Add Product</button></a>
    </div>
  </div>
</div>
