

<div class="body">
    <div class="container">
        <div class="left-panel">
            <div class="content">
                <p class="description">WELCOME TO GLIGNESIS TECHNOLOGIES</p>
                <p class="sub-description">LOGIN HERE AND START WORKING.<br>HAVE A GREAT DAY</p>
            </div>
        </div>
        <div class="right-panel">
            <div class="login-container">
                <h1 class="logo">TECH-TITANS</h1>
                <form >
                    <div class="input-box">
                        <button routerLink="register" class="sign-in-btn">register</button>
                    </div>
  
                    <div class="input-box">
                        <button routerLink="/login" class="sign-in-btn">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  