.container {
    padding: 20px;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .actions input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
    .status {
      padding: 10px 20px;
      background-color: #1E90FF;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  .new-order {
    background-color: #4CAF50;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .accept{    
    background-color: #0fb628;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .delete {
    background-color: #FF5722;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  